<!--
                                                      =============================================
                                                          Feature Section One
                                                      ==============================================
                                                      -->

<div class="blog-details-one mt-30 lg-mt-60">
  <div class="container">
    <div class="pb-30 lg-pb-30">
      <div class="row justify-content-md-center">
        <div class="col-lg-10">
          <div class="blog-meta-wrapper pe-xxl-5">
            <article class="blog-details-content">
              <!-- <img
                                src="/images/cihan-metricwire.jpeg"
                                alt=""
                                class="lazy-img image-meta w-100"
                              /> -->
              <h2 class="text-center">
                The Power of Collaboration in Growth PR: Lessons from MTN,
                Airtel, and 9mobile
              </h2>
              <p class="fs-20 mt-30 lg-mt-20 text-center">
                <strong>Category</strong>: Public Relations
              </p>
              <p>
                It was Valentine’s Day in Nigeria, and the air was filled with
                love and romance. However, something unexpected happened in the
                world of telecommunications, as two giant and competing brands,
                MTN Nigeria and Airtel Nigeria, joined hands to exhibit the
                power of collaborative PR.
              </p>
              <p>
                It all started with a single tweet from MTN Nigeria, extending a
                warm message of love to Airtel Nigeria with the hashtag
                #loveisintheair. Airtel Nigeria responded in a unique way,
                asking MTN Nigeria, “so, what are we doing today?”
              </p>
              <p>
                This exchange caught the attention of 9mobile Nigeria, another
                competing brand in the telecommunications industry. Feeling left
                out, 9mobile Nigeria decided to join the collaboration power
                party by sending a response to both MTN Nigeria and Airtel
                Nigeria, with the message “wahala for who no get valentine.”
              </p>
              <p>
                This collaboration between three competing brands unleashed an
                essential component of GrowthPR – collaboration. It displayed
                how collaboration could unleash the power of brand love and
                brand growth. The telecommunication giants made good use of the
                season to drive their visibility and brand affinity.
              </p>
              <p>
                The civility and maturity of the brains behind both brands were
                evident, as they showcased that there was enough space in the
                sky for every brand to shine. The collaborative environment was
                defined by a fast pace and the ability to have a strong voice,
                to be heard clearly.
              </p>
              <p>
                The lessons learned from this collaborative effort are
                invaluable. In an environment where no one brand has dominance,
                but is quickly unchanging, collaborative PR efforts can lead to
                significant breakthroughs. Brands can achieve more by working
                together, even in the face of competition.
              </p>
              <p>
                The collaboration between MTN Nigeria, Airtel Nigeria, and
                9mobile Nigeria on Valentine’s Day is a testament to the power
                of collaboration in growth PR. It shows that when competitors
                work together, they can achieve more and benefit everyone. The
                lessons learned from this collaboration are valuable for PR
                agencies and professionals in building brand love and growth.
              </p>
            </article>
          </div>
          <!-- /.blog-meta-wrapper -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.blog-details-one -->

<!-- /.wrapper -->
