<%- include('./partials/header') %>

<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
<div class="inner-banner-three text-center p-30">
  <div class="bg-wrapper text-center">
    <div class="container">
      <div class="title-style-five">
        <h2 class="main-title tx-dark fw-bold">About us</h2>
      </div>
      <p class="fs-20 mt-30 lg-mt-20">
        A forward-thinking GrowthPR and digital communications agency
      </p>
    </div>
  </div>
</div>


<div class="blog-details-one mt-120 lg-mt-60">
    <div class="container">
        <div class="pb-30 lg-pb-30">
            <div class="row justify-content-md-center">
                <div class="col-lg-10">
                    <div class="blog-meta-wrapper pe-xxl-5">
                        <article class="blog-details-content">
                            <img src="images/lazy.svg" data-src="images/cihans-24.jpeg" alt="" class="lazy-img image-meta w-100">
                            <p>We are a forward-thinking GrowthPR and digital communications agency that combines cutting-edge technology with a keen focus on influence. Our team excels at conceptualizing, building, growing, and ultimately shaping target group decisions and perceptions. With our roots as a digital media consulting firm, we have since evolved into a global GrowthPR company, boasting six owned PRTech platforms and a rapidly expanding network of publishing partners. Our innovative approach and commitment to excellence have helped us stay ahead of the curve, and we continue to pave the way for new advancements in PR and digital communication.</p>
                            <h2>The Cihan Culture</h2>
                            <p>Culture at Cihan Media is built on a foundation of innovation, collaboration, and customer focus. Our team is made up of creative, driven individuals who are passionate about technology and digital communications. We believe that a strong culture is essential for success, and we foster a supportive, inclusive environment where everyone can thrive.                            </p>
                            <h2>Our values</h2>
                            <h4>Innovation</h4>
                            <p>We are constantly seeking new and better ways to deliver value to our clients, and we encourage our team to be creative and think outside the box.</p>
                            <h4>Collaboration</h4>
                            <p>We believe that great things can be achieved when people work together, and we foster a team-oriented culture that encourages collaboration and teamwork.</p>
                            <h4>Customer Focus</h4>
                            <p>Our clients are at the heart of everything we do, and we are dedicated to delivering the best possible customer experience. We listen to our clients’ needs and strive to exceed their expectations.                            </p>
                            <h4>Continuous Improvement</h4>
                            <p>We are never satisfied with the status quo, and we are constantly seeking to improve and grow as individuals and as a company. We embrace change and look for ways to continuously improve our products and services.
                                Our culture is the foundation of our success, and we believe that by fostering a positive, supportive environment, we can attract the best talent and deliver the best possible results for our clients.</p>
                        </article>
                    </div> <!-- /.blog-meta-wrapper -->
                </div>
            </div>
        </div>
    </div>
</div> <!-- /.blog-details-one -->


<!-- /.inner-banner-three -->

<!--
			=============================================
				Feature Section Two
			==============================================
			-->
<div class="fancy-feature-two position-relative pt-150 lg-pt-90">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-6 ms-auto order-md-last">
        <div class="block-style-one wow fadeInRight">
          <div class="title-style-one">
            <div class="sc-title text-uppercase">About us</div>
            <h2 class="main-title fw-bold tx-dark m0">
              <span>Tech PR</span> & Digital Communications
            </h2>
          </div>
          <!-- /.title-style-one -->
          <!-- <h4 class="tx-dark pt-65 pb-20 lg-pt-40 lg-pb-10">Who we are?</h4> -->
          <p class="fs-20">
            We are a TechPR and Digital Communications consulting firm that
            leverages technologies with a focus on Influence. We conceptualize,
            build, grow, influence target group decisions and perceptions.
          </p>
        </div>


        <!-- /.block-style-one -->
      </div>
      <div class="col-md-6 order-md-first wow fadeInLeft">
        <div
          class="img-meta d-inline-block position-relative ps-3 ps-lg-5 pb-50 sm-mt-90"
        >
          <img
            src="images/lazy.svg"
            data-src="images/woman-about.jpg"
            alt=""
            class="lazy-img"
          />
          <img
            src="images/lazy.svg"
            data-src="images/shape/shape_09.svg"
            alt=""
            class="lazy-img shapes shape-one"
          />
          <img
            src="images/lazy.svg"
            data-src="images/shape/shape_10.svg"
            alt=""
            class="lazy-img shapes shape-two"
          />
          <div class="shapes shape-three"></div>
          <img
            src="images/lazy.svg"
            data-src="images/shape/shape_11.svg"
            alt=""
            class="lazy-img shapes shape-four"
          />
          <img
            src="images/lazy.svg"
            data-src="images/shape/shape_12.svg"
            alt=""
            class="lazy-img shapes shape-five"
          />
          <div class="shapes shape-six"></div>
          <img
            src="images/lazy.svg"
            data-src="images/shape/shape_13.svg"
            alt=""
            class="lazy-img shapes shape-seven"
          />
          <!-- /.card-one -->
        </div>
        <!-- /.img-meta -->
      </div>
    </div>
  </div>
  <!-- /.container -->

  <!--
			=============================================
				Feature Section Fifty Four
			==============================================
			-->
  <div class="fancy-feature-fiftyFour p-30 mt-150 lg-mt-90">
    <div
      class="bg-wrapper position-relative zn2 pt-140 lg-pt-60 pb-140 lg-pb-60"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-4 wow fadeInLeft">
            <div class="title-style-one mt-30">
              <!-- <div class="sc-title text-uppercase">Step by step</div> -->
              <h2 class="main-title fw-bold tx-dark">
                Our Digital <span>Storytelling</span>
              </h2>
            </div>
            <!-- /.title-style-one -->
            <p class="text-lg mt-40 lg-mt-20">
              The Steps of Cihan Digital Storytelling
            </p>
            <img
              src="images/lazy.svg"
              data-src="images/shape/shape_179.svg"
              alt=""
              class="lazy-img d-none d-lg-block mt-80"
            />
          </div>
          <div class="col-lg-7 ms-auto">
            <div class="row gx-xxl-5">
              <div class="col-sm-6">
                <div class="card-style-twentyFour bg-white mt-30 wow fadeInUp">
                  <div class="icon">
                    <img
                      src="images/lazy.svg"
                      data-src="images/icon/icon_152.svg"
                      alt=""
                      class="lazy-img mh-100"
                    />
                  </div>
                  <h4 class="fw-bold tx-dark mt-30 mb-15">Step 01: Ideation</h4>
                  <p class="fs-18">
                    We generate a compelling idea for your story.
                  </p>
                </div>
                <!-- /.card-style-twentyFour -->
              </div>
              <div class="col-sm-6">
                <div
                  class="card-style-twentyFour bg-white mt-30 wow fadeInUp"
                  data-wow-delay="0.1s"
                >
                  <div class="icon">
                    <img
                      src="images/lazy.svg"
                      data-src="images/icon/icon_153.svg"
                      alt=""
                      class="lazy-img mh-100"
                    />
                  </div>
                  <h4 class="fw-bold tx-dark mt-30 mb-15">
                    Step 02: <span>Storyboarding</span>:
                  </h4>
                  <p class="fs-18">
                    We develop a storyboard to outline the main narrative and
                    visual elements of the story.
                  </p>
                </div>
                <!-- /.card-style-twentyFour -->
              </div>
              <div class="col-sm-6">
                <div
                  class="card-style-twentyFour bg-white mt-30 wow fadeInUp"
                  data-wow-delay="0.2s"
                >
                  <div class="icon">
                    <img
                      src="images/lazy.svg"
                      data-src="images/icon/icon_154.svg"
                      alt=""
                      class="lazy-img mh-100"
                    />
                  </div>
                  <h4 class="fw-bold tx-dark mt-30 mb-15">
                    Step 03: Content Creation
                  </h4>
                  <p class="fs-18">
                    We create the compelling and unique content for the story,
                    edit and refine
                  </p>
                </div>
                <!-- /.card-style-twentyFour -->
              </div>
              <div class="col-sm-6">
                <div
                  class="card-style-twentyFour bg-white mt-30 wow fadeInUp"
                  data-wow-delay="0.3s"
                >
                  <div class="icon">
                    <img
                      src="images/lazy.svg"
                      data-src="images/icon/icon_155.svg"
                      alt=""
                      class="lazy-img mh-100"
                    />
                  </div>
                  <h4 class="fw-bold tx-dark mt-30 mb-15">
                    Step 04: <span>Publishing and Amplification</span>
                  </h4>
                  <p class="fs-18">
                    We publish, syndicate and amplify the story.
                  </p>
                </div>
                <!-- /.card-style-twentyFour -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <img
        src="images/lazy.svg"
        data-src="images/shape/shape_11.svg"
        alt=""
        class="lazy-img shapes shape-one"
      />
      <img
        src="images/lazy.svg"
        data-src="images/shape/shape_13.svg"
        alt=""
        class="lazy-img shapes shape-two"
      />
      <img
        src="images/lazy.svg"
        data-src="images/shape/shape_10.svg"
        alt=""
        class="lazy-img shapes shape-three"
      />
      <img
        src="images/lazy.svg"
        data-src="images/shape/shape_12.svg"
        alt=""
        class="lazy-img shapes shape-four"
      />
    </div>
    <!-- /.bg-wrapper -->
  </div>
  <!-- /.fancy-feature-fiftyFour -->

  <!--
			=====================================================
				Team Section Four
			=====================================================
			-->
  <div class="team-section-four mt-150 lg-mt-90">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-xxl-6 col-md-7 wow fadeInLeft">
          <div class="title-style-one text-center text-md-start">
            <div class="sc-title text-uppercase">OUR TEAM</div>
            <h2 class="main-title fw-bold tx-dark m0">
              Our talented experts to help you
            </h2>
          </div>
          <!-- /.title-style-one -->
        </div>
        <!-- <div class="col-xxl-6 col-md-5 text-center text-md-end wow fadeInRight">
        <a href="#" class="btn-one fw-500 sm-mt-30">View full team</a>
      </div> -->
      </div>
      <!-- /.row -->

      <div class="wrapper border-bottom pt-80 lg-pt-50">
        <div class="row gx-xxl-5">
          <div class="col-lg-4 col-sm-6">
            <div
              class="team-block-three position-relative pb-40 lg-pb-30 wow fadeInUp"
            >
              <div class="img-meta">
                <img
                  src="images/team-lead.jpeg"
                  alt=""
                  class="lazy-img team-img w-100"
                  style=""
                />
                <div class="info text-center">
                  <h5 class="tx-dark fw-500 mb-5">Celestine Achi</h5>
                  <div class="tx-dark opacity-75">
                    Lead Digital Strategist/CEO
                  </div>
                </div>
                <!-- /.info -->
              </div>
              <!-- /.img-meta -->
            </div>
            <!-- /.team-block-three -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <div
              class="team-block-three position-relative pb-40 lg-pb-30 wow fadeInUp"
              data-wow-delay="0.2s"
            >
              <div class="img-meta">
                <img
                  src="images/ijeoma.jpeg"
                  alt=""
                  class="lazy-img team-img w-100"
                  style=""
                />
                <div class="info text-center">
                  <h5 class="tx-dark fw-500 mb-5">Ijeoma Edede</h5>
                  <div class="tx-dark opacity-75">Director, Partnerships</div>
                </div>
                <!-- /.info -->
              </div>
              <!-- /.img-meta -->
            </div>
            <!-- /.team-block-three -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <div
              class="team-block-three position-relative pb-40 lg-pb-30 wow fadeInUp"
              data-wow-delay="0.4s"
            >
              <div class="img-meta">
                <img
                  src="images/achi.png"
                  alt=""
                  class="lazy-img team-img w-100"
                  style=""
                />
                <div class="info text-center">
                  <h5 class="tx-dark fw-500 mb-5">Celestine Achi</h5>
                  <div class="tx-dark opacity-75">Client Service</div>
                </div>
                <!-- /.info -->
              </div>
              <!-- /.img-meta -->
            </div>
            <!-- /.team-block-three -->
          </div>
        </div>
        <!-- /.row -->
      </div>
    </div>
    <!-- /.container -->
  </div>

  <div class="fancy-feature-fiftyFour p-30 mt-50 lg-mt-40">
    <div
      class="bg-wrapper position-relative zn2 pt-110 lg-pt-80 pb-110 lg-pb-80"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-4 wow fadeInLeft">
            <div class="title-style-one">
              <div class="sc-title text-uppercase">Why us?</div>
              <h2 class="main-title fw-bold tx-dark">
                Why <span>choose</span> Cihan Media
              </h2>
            </div>
            <!-- /.title-style-one -->
            <!-- <p class="text-lg mt-40 lg-mt-20">We helping our client to fullfill their needs with our expert.</p> -->
            <img
              src="images/lazy.svg"
              data-src="images/shape/shape_179.svg"
              alt=""
              class="lazy-img d-none d-lg-block mt-40"
            />
          </div>
          <div class="col-lg-7 ms-auto wow fadeInRight">
            <div
              class="bg-white pe-3 ps-3 pe-lg-5 ps-lg-5 pt-15 pb-15 ms-xxl-4 rounded-3 md-mt-40"
            >
              <div class="accordion accordion-style-two" id="accordionOne">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingOne">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseOne"
                      aria-expanded="false"
                      aria-controls="collapseOne"
                    >
                      Our Mission
                    </button>
                  </div>
                  <div
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingOne"
                    data-bs-parent="#accordionOne"
                  >
                    <div class="accordion-body">
                      <p>
                        Our mission is to provide clients with the tools and
                        resources they need to succeed in today's fast-paced
                        digital world. We strive to offer cutting-edge,
                        data-driven solutions that help clients build, grow, and
                        shape their brand in the digital realm. Our goal is to
                        help clients achieve their digital communications
                        objectives through a combination of technology,
                        expertise, and creativity. We are committed to providing
                        a high-quality customer experience, building
                        long-lasting relationships with our clients, and helping
                        them succeed in the digital age.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <div class="accordion-header" id="headingTwo">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      Our Vision
                    </button>
                  </div>
                  <div
                    id="collapseTwo"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingTwo"
                    data-bs-parent="#accordionOne"
                  >
                    <div class="accordion-body">
                      <p>
                        At Cihan Media, our vision is to be the leading provider
                        of innovative and impactful Tech PR and Digital
                        Communications solutions, empowering our clients to
                        drive influence and achieve their goals.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <div class="accordion-header" id="headingThree">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseThree"
                      aria-expanded="true"
                      aria-controls="collapseThree"
                    >
                      Our Core Values
                    </button>
                  </div>
                  <div
                    id="collapseThree"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingThree"
                    data-bs-parent="#accordionOne"
                  >
                    <div class="accordion-body">
                      <p>
                        Equal blame belongs to those who fail in their duty
                        through weakness of will which the same as saying.
                      </p>
                      <ul>
                        <li>Integrity</li>
                        <li>Commitment to excellence</li>
                        <li>Consumer focus</li>
                        <li>Accountability</li>
                        <li>Inclusiveness</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.accordion-style-two -->
            </div>
          </div>
        </div>
      </div>
      <img
        src="images/lazy.svg"
        data-src="images/shape/shape_11.svg"
        alt=""
        class="lazy-img shapes shape-one"
      />
      <img
        src="images/lazy.svg"
        data-src="images/shape/shape_13.svg"
        alt=""
        class="lazy-img shapes shape-two"
      />
      <img
        src="images/lazy.svg"
        data-src="images/shape/shape_10.svg"
        alt=""
        class="lazy-img shapes shape-three"
      />
      <img
        src="images/lazy.svg"
        data-src="images/shape/shape_12.svg"
        alt=""
        class="lazy-img shapes shape-four"
      />
    </div>
    <!-- /.bg-wrapper -->
  </div>



  <%- include('./partials/footer') %>
</div>
