<%- include('./partials/header') %>
<div class="inner-banner-three text-center p-30">
	<div class="bg-wrapper text-center" style="background-image:url(images/assets/bg-17.svg);">
		<div class="container">
			<div class="title-style-five">
				<h2 class="main-title tx-dark fw-bold">Sign up</h2>
			</div>
			<p class="fs-20 mt-30 lg-mt-20">Get started with Cihan Metricwire today</p>
		</div>

		<div class="container">
			<div class="contact-section-two text-start mt-80 lg-mt-60">
				<div class="row">
					<div class="col-lg-7">
						<div class="form-style-three md-mb-60 wow fadeInLeft">
						<form action="/cihan-form" method="post" enctype="multipart/form-data" id="cihan-form"  data-toggle="validator">
								<div class="messages"></div>
								<div class="row controls">
									<div class="col-12">
										<div class="input-group-meta form-group mb-35">
											<label class="d-block" for="">Full Name*</label>
											<input type="text" placeholder="Daniel Smith" name="name" required="required" data-error="Name is required.">
											<div class="help-block with-errors"></div>
										</div>
									</div>

									<div class="col-12">
										<div class="input-group-meta form-group mb-40">
											<label class="d-block" for="">Company Nmae*</label>
											<input type="text" placeholder="Microsoft" name="company" required="required" data-error="Valid email is required.">
											<div class="help-block with-errors"></div>
										</div>
									</div>
									<div class="col-12">
										<div class="input-group-meta form-group mb-40">
											<label class="d-block" for="">Contact Details*</label>
											<input type="text" placeholder="+234-818-2345" name="contact" required="required" data-error="Valid email is required.">
											<div class="help-block with-errors"></div>
										</div>
									</div>
									<div class="col-12">
										<div class="input-group-meta form-group mb-40">
											<label class="d-block" for="">Press Release Title*</label>
											<input type="text" placeholder="Title" name="title" required="required" data-error="Valid email is required.">
											<div class="help-block with-errors"></div>
										</div>
									</div>
									<div class="col-12">
										<div class="input-group-meta form-group mb-40">
											<label class="d-block" for="">Press Release Photo Caption*</label>
											<input type="text" placeholder="Alt text" name="caption" required="required" data-error="Valid email is required.">
											<div class="help-block with-errors"></div>
										</div>
									</div>
									<div class="col-12">
										<div class="input-group-meta form-group mb-40">
											<label class="d-block" for="">Source*</label>
											<input type="text" placeholder="Related sources" name="source" required="required" data-error="Valid email is required.">
											<div class="help-block with-errors"></div>
										</div>
									</div>
									<!-- <div class="col-12">
										<div class="input-group-meta form-group mb-30">
											<textarea placeholder="Your message*" name="message" required="required" data-error="Please leave us a message."></textarea>
											<div class="help-block with-errors"></div>
										</div>
									</div> -->
									<div class="col-12">
										<div class="input-group-meta form-group mb-30">
											<label class="d-block" for="">Attach Press Release Document/Image*</label>
											<input type="file" name="file" id="" required="required" data-error="Upload files or documents">
											<div class="help-block with-errors"></div>
										</div>
									</div>

									<!-- <input type="file" name="documents" /> enctype="multipart/form-data" -->
									<div class="col-12"><button data-sitekey="<%= process.env.RECAPTCHA_KEY %>" data-callback="onSubmit"class="g-recaptcha btn-one fw-500 w-100 text-uppercase fs-14 d-block">Send Message</button></div>
								</div>
							</form>
						</div> <!-- /.form-style-three -->
					</div>

					<div class="col-xl-4 col-lg-5 ms-auto wow fadeInRight">
						<div class="address-block-three d-flex mb-70 lg-mb-40 mt-20">
							<div class="icon"><img src="images/icon/icon_161.svg" alt=""></div>
							<div class="text">
								<h5 class="title">Our Address</h5>
								<p>8 Ajao Road, off Adeniyi Jones, <br> Ikeja, Lagos</p>
							</div>
						</div> <!-- /.address-block-three -->
						<div class="address-block-three d-flex mb-70 lg-mb-40">
							<div class="icon"><img src="images/icon/icon_162.svg" alt=""></div>
							<div class="text">
								<h5 class="title">Contact Info</h5>
								<p>Open a chat or give us call at <br><a href="tel:+2348099997175" class="call">+234 809 9997 175</a></p>
							</div>
						</div> <!-- /.address-block-three -->
						<div class="address-block-three d-flex">
							<div class="icon"><img src="images/icon/icon_163.svg" alt=""></div>
							<div class="text">
								<h5 class="title">Hours</h5>
								<p>Open Mon - Sat: 9am - 7pm</p>
							</div>
						</div> <!-- /.address-block-three -->
					</div>
				</div>
			</div> <!-- /.contact-section-two -->
		</div> <!-- /.container -->
	</div> <!-- /.bg-wrapper -->
</div> <!-- /.inner-banner-three -->
<%- include('./partials/footer') %>
</div>