<%- include('./partials/header') %>

	<!--
			=====================================================
				Blog Section One
			=====================================================
			-->
            <div class="blog-section-one p-30 mt-160 lg-mt-120">
                <div class="bg-wrapper pt-140 pb-170 lg-pt-100 lg-pb-100 position-relative">
                    <div class="shapes shape-one"></div>
                    <img src="images/lazy.svg" data-src="images/shape/shape_16.svg" alt="" class="lazy-img shapes shape-two">
                    <div class="shapes shape-three"></div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-sm-7">
                                <div class="title-style-one text-center text-sm-start xs-mb-30">
                                    <h2 class="main-title fw-bold tx-dark m0">Welcome to your <span>Dashboard</span></h2>
                                    <br>
                                    <p>You can find all form submissions here. To begin, pick what form you want to view</p>
                                </div> <!-- /.title-style-one -->
                            </div>
                            <% if(isAuthenticated) { %>
                            <div class="col-lg-6 col-sm-5 ms-auto d-flex justify-content-center justify-content-sm-end">
                                <a href="/logout/" class="btn-one fw-500">Logout</a>
                            </div>
                            <pre><%= JSON.stringify(user, null, 2) %></pre>
                            <% } else { %>
                                <div class="col-lg-6 col-sm-5 ms-auto d-flex justify-content-center justify-content-sm-end">
                                    <a href="/login/" class="btn-one fw-500">Login</a>
                                </div>
                            <% } %>
                        </div>

                        <div class="row pt-50 lg-pt-30">
                            <div class="col-lg-4 col-sm-6 d-flex wow fadeInUp">
                                <article class="blog-meta-one tran3s mt-30">
                                    <figure class="post-img m0"><a href="/cihan-form-submissions" class="w-100 d-block"><img
                                                src="images/lazy.svg" data-src="images/cihan-metricwire.jpeg" alt="cihan"
                                                class="lazy-img w-100 tran4s"></a></figure>
                                    <div class="post-data mt-25">

                                        <a href="/cihan-form-submissions" class="blog-title d-block">
                                            <h4 class="tran3s">Cihan Metricwire Form

                                            </h4>
                                        </a>
                                        <a href="/cihan-form-submissions" class="read-btn mt-35"><img src="images/lazy.svg"
                                                data-src="images/icon/icon_12.svg" alt="" class="lazy-img"></a>
                                    </div> <!-- /.post-data -->
                                </article> <!-- /.blog-meta-one -->
                            </div>
                            <div class="col-lg-4 col-sm-6 d-flex wow fadeInUp" data-wow-delay="0.1s">
                                <article class="blog-meta-one tran3s mt-30">
                                    <figure class="post-img m0"><a href="/contact-form-submissions" class="w-100 d-block"><img
                                                src="images/lazy.svg" data-src="images/contact-face.jpg" alt="contact"
                                                class="lazy-img w-100 tran4s"></a></figure>
                                    <div class="post-data mt-25">
                                        <a href="/contact-form-submissions" class="blog-title d-block">
                                            <h4 class="tran3s">Contact Form</h4>
                                        </a>
                                        <a href="/contact-form-submissions" class="read-btn mt-35"><img src="images/lazy.svg"
                                                data-src="images/icon/icon_12.svg" alt="" class="lazy-img"></a>
                                    </div> <!-- /.post-data -->
                                </article> <!-- /.blog-meta-one -->
                            </div>
                        </div>
                    </div> <!-- /.container -->
                </div> <!-- /.bg-wrapper -->
            </div> <!-- /.blog-section-one -->


	<%- include('./partials/footer') %>

            </div>