<%- include('./partials/header') %>
	<!--
			=============================================
				Theme Hero Banner
			==============================================
			-->
	<div class="hero-banner-one p-30">
		<div class="bg-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-7">
						<h1 class="hero-heading fw-bold tx-dark">Put Insights <br> into <span
								class="position-relative d-inline-block">Actions.</span></h1>
						<p class="text-lg mb-15 pt-25 pe-xl-5 lg-pt-20 lg-mb-20">We help you stay ahead of the game with
							cutting-edge monitoring analysis, and media intelligence tools</p>
						<a href="/contact" class="btn-one fw-500">Get started</a>
						<div class="pr-info fw-500 fs-20 tx-dark mt-35">Over <span
								class="fw-bold text-decoration-underline">3000+ clients</span> all over the world.</div>
					</div>
				</div>
				<div class="card-one shapes bg-white wow fadeInRight">
					<div class="icon rounded-circle position-absolute fs-18 text-white"><i class="bi bi-check-lg"></i>
					</div>
					<h6 class="fw-500 tx-dark mb-15">We can help you stay ahead of the game.</h6>
					<a href="/about" class="more-btn tran3s text-uppercase fw-500 fs-13">Learn More</a>
				</div>
				<div class="illustration-holder">
					<img src="images/lazy.svg" data-src="images/hero.png" alt=""
						class="lazy-img main-illustration w-100">
					<img src="images/lazy.svg" data-src="images/shape/shape_01.svg" alt=""
						class="lazy-img shapes shape-one">
					<img src="images/lazy.svg" data-src="images/shape/shape_02.svg" alt=""
						class="lazy-img shapes shape-two">
					<img src="images/lazy.svg" data-src="images/shape/shape_03.svg" alt=""
						class="lazy-img shapes shape-three">
					<img src="images/lazy.svg" data-src="images/shape/shape_04.svg" alt=""
						class="lazy-img shapes shape-four">
					<img src="images/lazy.svg" data-src="images/shape/shape_05.svg" alt=""
						class="lazy-img shapes shape-five">
					<img src="images/lazy.svg" data-src="images/shape/shape_06.svg" alt=""
						class="lazy-img shapes shape-six">
					<img src="images/lazy.svg" data-src="images/shape/shape_07.svg" alt=""
						class="lazy-img shapes shape-seven">
				</div> <!-- /.illustration-holder -->
			</div> <!-- /.container -->
			<img src="images/lazy.svg" data-src="images/shape/shape_08.svg" alt="" class="lazy-img shapes shape-eight">
		</div>
	</div> <!-- /.hero-banner-one -->




	<!--
			=============================================
				Feature Section One
			==============================================
			-->
	<div class="fancy-feature-one pt-170 lg-pt-140">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 wow fadeInLeft">
					<div class="title-style-one text-center text-lg-start">
						<h2 class="main-title fw-bold tx-dark m0"><span>Data-driven</span> approach to public relations
						</h2>
					</div> <!-- /.title-style-one -->
				</div>
				<div class="col-lg-5 ms-auto wow fadeInRight">
					<p class="text-lg text-center text-lg-start md-pt-30 m0">We are a Growth PR and Digital
						Communications Agency that specializes in leveraging cutting-edge technologies with a focus on
						influence, perception and reach.</p>
				</div>
			</div>
		</div>
		<div class="inner-content pt-110 lg-pt-60 md-pt-30">
			<div class="row gx-xxl-5">
				<div class="col-lg-3 col-sm-6 wow fadeInUp">
					<div class="card-style-one pe-xxl-5 position-relative mt-40">
						<div class="icon d-flex align-items-center justify-content-center"
							style="background-color: rgba(255, 171, 51, 0.18);"><img src="images/lazy.svg"
								data-src="images/icon/icon_01.svg" alt="" class="lazy-img"></div>
						<h5 class="fw-500 mt-35 mb-25"><a href="/services/marketing-pr" class="tran3s tx-dark">Marketing
								PR</a></h5>
						<p class="mb-25">We bridge the gap between traditional media and the brave new world of digital
						</p>
						<a href="/services/marketing-pr"><img src="images/lazy.svg" data-src="images/icon/icon_05.svg" alt=""
								class="lazy-img"></a>
					</div> <!-- /.card-style-one -->
				</div>
				<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
					<div class="card-style-one pe-xxl-5 position-relative mt-40">
						<div class="icon d-flex align-items-center justify-content-center"
							style="background-color: rgba(100, 219, 226, 0.18);"><img src="images/lazy.svg"
								data-src="images/icon/icon_02.svg" alt="" class="lazy-img"></div>
						<h5 class="fw-500 mt-35 mb-25"><a href="/services/influence-marketing" class="tran3s tx-dark">B2B2C
								Influence Marketing</a></h5>
						<p class="mb-25">Connect with your customers on the platforms they trust most, and gain the
							influence your brand deserves
						</p>
						<a href="/services/influence-marketing"><img src="images/lazy.svg" data-src="images/icon/icon_05.svg"
								alt="" class="lazy-img"></a>
					</div> <!-- /.card-style-one -->
				</div>
				<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
					<div class="card-style-one pe-xxl-5 position-relative mt-40">
						<div class="icon d-flex align-items-center justify-content-center"
							style="background-color: rgba(255, 160, 194, 0.18);"><img src="images/lazy.svg"
								data-src="images/icon/icon_03.svg" alt="" class="lazy-img"></div>
						<h5 class="fw-500 mt-35 mb-25"><a href="/services/content-development" class="tran3s tx-dark">Content
								Marteting</a></h5>
						<p class="mb-25">Our professional content development services ensure a brand voice unparalleled quality to keep your audience engaged.
						</p>
						<a href="/services/content-development"><img src="images/lazy.svg" data-src="images/icon/icon_05.svg"
								alt="" class="lazy-img"></a>
					</div> <!-- /.card-style-one -->
				</div>
				<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
					<div class="card-style-one pe-xxl-5 position-relative mt-40">
						<div class="icon d-flex align-items-center justify-content-center"
							style="background-color: rgba(246, 243, 255, 1);"><img src="images/lazy.svg"
								data-src="images/icon/icon_04.svg" alt="" class="lazy-img"></div>
						<h5 class="fw-500 mt-35 mb-25"><a href="/services/brand-storytelling" class="tran3s tx-dark">Brand
								Storytelling</a></h5>
						<p class="mb-25">we employ creative storytelling, thorough market research, business strategy workshops and more to tie the physical premises together with an idea, the concept, a story.
						</p>
						<a href="/services/brand-storytelling"><img src="images/lazy.svg" data-src="images/icon/icon_05.svg"
								alt="" class="lazy-img"></a>
					</div> <!-- /.card-style-one -->
				</div>
				<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
					<div class="card-style-one pe-xxl-5 position-relative mt-40">
						<div class="icon d-flex align-items-center justify-content-center"
							style="background-color: rgba(246, 243, 255, 1);"><img src="images/lazy.svg"
								data-src="images/icon/icon_04.svg" alt="" class="lazy-img"></div>
						<h5 class="fw-500 mt-35 mb-25"><a href="/services/online-reputation-management" class="tran3s tx-dark">Online
								Reputation Managemnt</a></h5>
						<p class="mb-25">We help our clients build valuable reputations through search remediation and strategic content development and marketing.
						</p>
						<a href="/services/online-reputation-management"><img src="images/lazy.svg" data-src="images/icon/icon_05.svg"
								alt="" class="lazy-img"></a>
					</div> <!-- /.card-style-one -->
				</div>
				<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
					<div class="card-style-one pe-xxl-5 position-relative mt-40">
						<div class="icon d-flex align-items-center justify-content-center"
							style="background-color: rgba(246, 243, 255, 1);"><img src="images/lazy.svg"
								data-src="images/icon/icon_04.svg" alt="" class="lazy-img"></div>
						<h5 class="fw-500 mt-35 mb-25"><a href="/services/digital-academy" class="tran3s tx-dark">Converged
								PR Training</a></h5>
						<p class="mb-25">The core of our service is based on the objective investment advice we seek to
							provide supported.</p>
						<a href="/services/digital-academy"><img src="images/lazy.svg" data-src="images/icon/icon_05.svg"
								alt="" class="lazy-img"></a>
					</div> <!-- /.card-style-one -->
				</div>
				<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
					<div class="card-style-one pe-xxl-5 position-relative mt-40">
						<div class="icon d-flex align-items-center justify-content-center"
							style="background-color: rgba(246, 243, 255, 1);"><img src="images/lazy.svg"
								data-src="images/icon/icon_04.svg" alt="" class="lazy-img"></div>
						<h5 class="fw-500 mt-35 mb-25"><a href="/services/software-development-and-web-design" class="tran3s tx-dark">Software
								Development & Web Design</a></h5>
						<p class="mb-25">Our team combines best industry practices, technology expertise, and business domain knowledge to drive digital transformation.
						</p>
						<a href="/services/software-development-and-web-design"><img src="images/lazy.svg" data-src="images/icon/icon_05.svg"
								alt="" class="lazy-img"></a>
					</div> <!-- /.card-style-one -->
				</div>
			</div>
		</div> <!-- /.inner-content -->
	</div> <!-- /.fancy-feature-one -->



	<!--
			=============================================
				Feature Section Two
			==============================================
			-->
	<div class="fancy-feature-two position-relative pt-225 mt-40 lg-pt-100 sm-pt-60">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-6 ms-auto order-md-last">
					<div class="block-style-one pt-35 wow fadeInRight">
						<div class="title-style-one">
							<div class="sc-title text-uppercase">About us</div>
							<h2 class="main-title fw-bold tx-dark m0"><span>Tech PR</span> & Digital Communications</h2>
						</div> <!-- /.title-style-one -->
						<p class="text-lg tx-dark pt-35 pb-40 lg-pb-20">We are a forward-thinking GrowthPR and digital communications agency that combines cutting-edge technology with a keen focus on influence</p>
						<!-- <ul class="style-none list-item fs-18">
							<li>Amazing communication.</li>
							<li>Best trending designing experience.</li>
							<li>Email & Live chat.</li>
						</ul> -->
					</div> <!-- /.block-style-one -->
					<a href="/about" class="more-btn tran3s fw-500 fs-18 wow fadeInUp">Discover More <i
							class="bi bi-arrow-right"></i></a>
				</div>
				<div class="col-md-6 order-md-first wow fadeInLeft">
					<div class="img-meta d-inline-block position-relative ps-3 ps-lg-5 pb-50 md-mt-50 sm-mt-80">
						<img src="images/lazy.svg" data-src="images/team-lead.jpeg" alt="" class="lazy-img">
						<img src="images/lazy.svg" data-src="images/shape/shape_09.svg" alt=""
							class="lazy-img shapes shape-one">
						<img src="images/lazy.svg" data-src="images/shape/shape_10.svg" alt=""
							class="lazy-img shapes shape-two">
						<div class="shapes shape-three"></div>
						<img src="images/lazy.svg" data-src="images/shape/shape_11.svg" alt=""
							class="lazy-img shapes shape-four">
						<img src="images/lazy.svg" data-src="images/shape/shape_12.svg" alt=""
							class="lazy-img shapes shape-five">
						<div class="shapes shape-six"></div>
						<img src="images/lazy.svg" data-src="images/shape/shape_13.svg" alt=""
							class="lazy-img shapes shape-seven">
						<div class="card-one wow fadeInUp" data-wow-delay="0.25s">
							<div class="icon d-flex align-items-center justify-content-center rounded-circle"><img
									src="images/lazy.svg" data-src="images/icon/icon_06.svg" alt="" class="lazy-img">
							</div>
							<div class="name fs-18 fw-500 tx-dark mb-10">- Celestine Achi, <span
									class="opacity-50">CEO</span></div>
							<p class="fs-18 m0">We aim to empower our clients to drive influence and achieve their goals</p>
						</div> <!-- /.card-one -->
					</div> <!-- /.img-meta -->
				</div>
			</div>
		</div> <!-- /.container -->
	</div> <!-- /.fancy-feature-two -->



	<!--
			=====================================================
				Feedback Section One
			=====================================================
			-->
	<div class="feedback-section-one position-relative p-30 mt-200 lg-mt-130 wow fadeInUp">
		<div class="bg-wrapper position-relative pt-150 pb-180 lg-pt-100 lg-pb-120">
			<img src="images/lazy.svg" data-src="images/shape/shape_14.svg" alt="" class="lazy-img shapes shape-one">
			<div class="shapes shape-two"></div>
			<div class="shapes shape-three"></div>
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-7">
						<div class="title-style-one text-center text-md-start">
							<h2 class="main-title fw-bold tx-dark m0">Our <span>Partner</span> Brands</h2>
						</div> <!-- /.title-style-one -->
					</div>
					<div class="col-lg-6 col-md-5 ms-auto d-flex justify-content-center justify-content-sm-end">
						<ul class="slider-arrows slick-arrow-one d-flex justify-content-center style-none mb-30">
							<li class="prev_f1 slick-arrow rounded-circle text-center fs-20 tran3s" style=""><i
									class="bi bi-chevron-left"></i></li>
							<li class="next_f1 slick-arrow rounded-circle text-center fs-20 tran3s" style=""><i
									class="bi bi-chevron-right"></i></li>
						</ul>
					</div>
				</div>
			</div> <!-- /.container -->

			<div class="inner-content mt-100 lg-mt-60">
				<div class="feedback_slider_one">
					<div class="item">
							<div class="">
								<img src="images/partners/polaris.png" class="m-auto partner-brand">
							</div>
					</div>
					<div class="item">
							<div class="">
								<img src="images/partners/9mobile.png" class="m-auto partner-brand">
							</div>
					</div>
					<div class="item">
							<div class="">
								<img src="images/partners/pz.png" class="m-auto partner-brand">
							</div>
					</div>
					<div class="item">
							<div class="">
								<img src="images/partners/samsung.png" class="m-auto partner-brand">
							</div>
					</div>
					<div class="item">
							<div class="">
								<img src="images/partners/seamfix.png" class="m-auto partner-brand">
							</div>
					</div>
					<div class="item">
							<div class="">
								<img src="images/partners/smile.png" class="m-auto partner-brand">
							</div>
					</div>
					<div class="item">
							<div class="">
								<img src="images/partners/tgi.png" class="m-auto partner-brand">
							</div>
					</div>
					<div class="item">
							<div class="">
								<img src="images/partners/trophy.jpg" class="m-auto partner-brand">
							</div>
					</div>
					<div class="item">
							<div class="">
								<img src="images/partners/unusual.png" class="m-auto partner-brand">
							</div>
					</div>
				</div> <!-- /.feedback_slider_one -->
			</div> <!-- /.inner-content -->
		</div> <!-- /.bg-wrapper -->
	</div> <!-- /.feedback-section-one -->


	<!--
			=====================================================
				Card Style Two
			=====================================================
			-->
	<div class="wrapper pt-110 lg-pt-80">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-3 col-md-4 col-sm-6 wow fadeInUp">
					<div class="card-style-two mt-40">
						<div class="icon d-flex align-items-end"><img src="images/lazy.svg"
								data-src="images/icon/icon_09.svg" alt="" class="lazy-img"></div>
						<span class="d-inline-block text-uppercase fs-14 opacity-75 mt-30 mb-10">Cihan Meet</span>
						<h4 class="fw-500 m0">Virtual Studio and Interactive Live Streaming Platform</h4>
					</div> <!-- /.card-style-two -->
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
					<div class="card-style-two mt-40">
						<div class="icon d-flex align-items-end"><img src="images/lazy.svg"
								data-src="images/icon/icon_10.svg" alt="" class="lazy-img"></div>
						<span class="d-inline-block text-uppercase fs-14 opacity-75 mt-30 mb-10">Cihan Metricwire</span>
						<h4 class="fw-500 m0">We get your story out in africa & globally</h4>
					</div> <!-- /.card-style-two -->
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
					<div class="card-style-two mt-40">
						<div class="icon d-flex align-items-end"><img src="images/lazy.svg"
								data-src="images/icon/icon_11.svg" alt="" class="lazy-img"></div>
						<span class="d-inline-block text-uppercase fs-14 opacity-75 mt-30 mb-10">Media Intelligence</span>
						<h4 class="fw-500 m0">Put insights into action and shape business outcomes</h4>
					</div> <!-- /.card-style-two -->
				</div>
			</div>
		</div>
	</div> <!-- /.wrapper -->



	<!--
			=====================================================
				Blog Section One
			=====================================================
			-->
	<div class="blog-section-one p-30 mt-160 lg-mt-120">
		<div class="bg-wrapper pt-140 pb-170 lg-pt-100 lg-pb-100 position-relative">
			<div class="shapes shape-one"></div>
			<img src="images/lazy.svg" data-src="images/shape/shape_16.svg" alt="" class="lazy-img shapes shape-two">
			<div class="shapes shape-three"></div>
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-sm-7">
						<div class="title-style-one text-center text-sm-start xs-mb-30">
							<h2 class="main-title fw-bold tx-dark m0">New <span>Insights</span></h2>
						</div> <!-- /.title-style-one -->
					</div>
					<div class="col-lg-6 col-sm-5 ms-auto d-flex justify-content-center justify-content-sm-end">
						<a href="/new-insights" class="btn-one fw-500">Go to Blog</a>
					</div>
				</div>

				<div class="row pt-50 lg-pt-30">
					<div class="col-lg-4 col-sm-6 d-flex wow fadeInUp">
						<article class="blog-meta-one tran3s mt-30">
							<figure class="post-img m0"><a href="/new-insights/unlocking-consumer-insights" class="w-100 d-block"><img
										src="images/lazy.svg" data-src="images/blog/blog_img_01.jpg" alt=""
										class="lazy-img w-100 tran4s"></a></figure>
							<div class="post-data mt-25">
								<a href="/new-insights/unlocking-consumer-insights" class="post-tag fw-500 tx-dark text-uppercase mb-20"
									style="background-color: #FFEAC9;">Marketing</a>
								<a href="/new-insights/unlocking-consumer-insights" class="blog-title d-block">
									<h4 class="tran3s">Unlocking Consumer Insights

									</h4>
								</a>
								<a href="/new-insights/unlocking-consumer-insights" class="read-btn mt-35"><img src="images/lazy.svg"
										data-src="images/icon/icon_12.svg" alt="" class="lazy-img"></a>
							</div> <!-- /.post-data -->
						</article> <!-- /.blog-meta-one -->
					</div>
					<div class="col-lg-4 col-sm-6 d-flex wow fadeInUp" data-wow-delay="0.1s">
						<article class="blog-meta-one tran3s mt-30">
							<figure class="post-img m0"><a href="/new-insights/the-power-of-collaboration-in-growth-pr" class="w-100 d-block"><img
										src="images/lazy.svg" data-src="images/blog/blog_img_02.jpg" alt=""
										class="lazy-img w-100 tran4s"></a></figure>
							<div class="post-data mt-25">
								<a href="/new-insights/the-power-of-collaboration-in-growth-pr" class="post-tag fw-500 tx-dark text-uppercase mb-20"
									style="background-color: #CEEBF4;">Public Relations</a>
								<a href="/new-insights/the-power-of-collaboration-in-growth-pr" class="blog-title d-block">
									<h4 class="tran3s">The Power of Collaboration in Growth PR
									</h4>
								</a>
								<a href="/new-insights/the-power-of-collaboration-in-growth-pr" class="read-btn mt-35"><img src="images/lazy.svg"
										data-src="images/icon/icon_12.svg" alt="" class="lazy-img"></a>
							</div> <!-- /.post-data -->
						</article> <!-- /.blog-meta-one -->
					</div>
					<div class="col-lg-4 col-sm-6 d-flex wow fadeInUp" data-wow-delay="0.2s">
						<article class="blog-meta-one tran3s mt-30">
							<figure class="post-img m0"><a href="/new-insights/how-pr-pros-can-navigate-tiktoks" class="w-100 d-block"><img
										src="images/lazy.svg" data-src="images/blog/blog_img_03.jpg" alt=""
										class="lazy-img w-100 tran4s"></a></figure>
							<div class="post-data mt-25">
								<a href="/new-insights/how-pr-pros-can-navigate-tiktoks" class="post-tag fw-500 tx-dark text-uppercase mb-20"
									style="background-color: #FFDFDF;">Public Relations</a>
								<a href="/new-insights/how-pr-pros-can-navigate-tiktoks" class="blog-title d-block">
									<h4 class="tran3s">How PR Pros Can Navigate TikTok’s                                            </h4>
								</a>
								<a href="/new-insights/how-pr-pros-can-navigate-tiktoks" class="read-btn mt-35"><img src="images/lazy.svg"
										data-src="images/icon/icon_12.svg" alt="" class="lazy-img"></a>
							</div> <!-- /.post-data -->
						</article> <!-- /.blog-meta-one -->
					</div>
				</div>
			</div> <!-- /.container -->
		</div> <!-- /.bg-wrapper -->
	</div> <!-- /.blog-section-one -->



	<!--
			=============================================
				Wrapper
			==============================================
			-->
	<div class="wrapper position-relative mt-150">
		<div class="container">
			<div class="row">
				<div class="m-auto text-center">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d507309.72856775194!2d3.340277!3d6.602449!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b9229b7afa2f7%3A0x19b7c5de92facd3d!2s8%20Ajao%20Rd%2C%20Ikeja%20101233%2C%20Lagos%2C%20Nigeria!5e0!3m2!1sen!2sus!4v1683300048888!5m2!1sen!2sus" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					<!-- <div class="title-style-one wow fadeInUp">
						<h2 class="main-title fw-bold tx-dark m0">Ready to take plan? It’s just a matter of <span>one
								clike</span></h2>
					</div>
					<p class="text-lg tx-dark pt-40 pb-35 lg-pt-30 lg-pb-20 wow fadeInUp" data-wow-delay="0.1s">Try it
						risk free — we don’t charge cancellation fees.</p>
					<a href="#" class="btn-two fs-18 fw-500 wow fadeInUp" data-wow-delay="0.2s">Purchase Now</a> -->

				</div>
			</div>
		</div>
		<img src="images/lazy.svg" data-src="images/shape/shape_20.svg" alt="" class="lazy-img shapes shape-one"
			style="top:5%; left: 10%;">
		<img src="images/lazy.svg" data-src="images/shape/shape_21.svg" alt="" class="lazy-img shapes shape-two"
			style="bottom:-4%; left: 18%;">
		<img src="images/lazy.svg" data-src="images/shape/shape_22.svg" alt="" class="lazy-img shapes shape-three"
			style="bottom:-4%; right: 23%;">
		<img src="images/lazy.svg" data-src="images/shape/shape_23.svg" alt="" class="lazy-img shapes shape-four"
			style="top:-3%; right: 14%;">
	</div> <!-- /.wrapper -->




	<!--
			=====================================================
				Fancy Short Banner One
			=====================================================
			-->
	<div class="fancy-short-banner-one mt-170 lg-mt-120">
		<div class="container">
			<div class="bg-wrapper position-relative wow fadeInUp">
				<div class="shapes shape-one"></div>
				<div class="inner-wrapper">
					<div class="subscribe-area">
						<div class="row align-items-end">
							<div class="col-lg-6">
								<div class="title-style-two">
									<div class="sc-title fw-500 ">Be In The Know</div>
									<h4 class="main-title fw-bold tx-dark">Subscribe to our newsletter today</h4>
								</div> <!-- /.title-style-two -->
							</div>
							<div class="col-lg-6">
								<div class="subscribe-form">
									<form action="#">
										<input type="email" placeholder="Email address">
										<button class="tran3s position-absolute">Subscribe</button>
									</form>
									<!-- <p class="m0 pt-10">Already a member? <a href="#" class="tx-dark">Sign in.</a></p> -->
								</div> <!-- /.subscribe-form -->
							</div>
						</div>
					</div> <!-- /.subscribe-area -->
				</div>
			</div> <!-- /.bg-wrapper -->
		</div>
	</div> <!-- /.fancy-short-banner-one -->


	<%- include('./partials/footer') %>
</div>