<%- include('./partials/header') %>

	<!--
			=====================================================
				Blog Section One
			=====================================================
			-->
            <div class="blog-section-one p-30 mt-160 lg-mt-120">
                <div class="bg-wrapper pt-140 pb-170 lg-pt-100 lg-pb-100 position-relative">
                    <div class="shapes shape-one"></div>
                    <img src="images/lazy.svg" data-src="images/shape/shape_16.svg" alt="" class="lazy-img shapes shape-two">
                    <div class="shapes shape-three"></div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-sm-7">
                                <div class="title-style-one text-center text-sm-start xs-mb-30">
                                    <h2 class="main-title fw-bold tx-dark m0">New <span>Insights</span></h2>
                                    <br>
                                    <p>Discover the world through a new lens: insights, perspectives, <br> and inspiration for curious minds</p>
                                </div> <!-- /.title-style-one -->
                            </div>
                            <!-- <div class="col-lg-6 col-sm-5 ms-auto d-flex justify-content-center justify-content-sm-end">
                                <a href="blog-v1.html" class="btn-one fw-500">Go to Blog</a>
                            </div> -->
                        </div>

                        <div class="row pt-50 lg-pt-30">
                            <div class="col-lg-4 col-sm-6 d-flex wow fadeInUp">
                                <article class="blog-meta-one tran3s mt-30">
                                    <figure class="post-img m0"><a href="/new-insights/unlocking-consumer-insights" class="w-100 d-block"><img
                                                src="images/lazy.svg" data-src="images/blog/blog_img_01.jpg" alt=""
                                                class="lazy-img w-100 tran4s"></a></figure>
                                    <div class="post-data mt-25">
                                        <a href="/new-insights/unlocking-consumer-insights" class="post-tag fw-500 tx-dark text-uppercase mb-20"
                                            style="background-color: #FFEAC9;">Marketing</a>
                                        <a href="/new-insights/unlocking-consumer-insights" class="blog-title d-block">
                                            <h4 class="tran3s">Unlocking Consumer Insights

                                            </h4>
                                        </a>
                                        <a href="/new-insights/unlocking-consumer-insights" class="read-btn mt-35"><img src="images/lazy.svg"
                                                data-src="images/icon/icon_12.svg" alt="" class="lazy-img"></a>
                                    </div> <!-- /.post-data -->
                                </article> <!-- /.blog-meta-one -->
                            </div>
                            <div class="col-lg-4 col-sm-6 d-flex wow fadeInUp" data-wow-delay="0.1s">
                                <article class="blog-meta-one tran3s mt-30">
                                    <figure class="post-img m0"><a href="/new-insights/the-power-of-collaboration-in-growth-pr" class="w-100 d-block"><img
                                                src="images/lazy.svg" data-src="images/blog/blog_img_02.jpg" alt=""
                                                class="lazy-img w-100 tran4s"></a></figure>
                                    <div class="post-data mt-25">
                                        <a href="/new-insights/the-power-of-collaboration-in-growth-pr" class="post-tag fw-500 tx-dark text-uppercase mb-20"
                                            style="background-color: #CEEBF4;">Public Relations</a>
                                        <a href="/new-insights/the-power-of-collaboration-in-growth-pr" class="blog-title d-block">
                                            <h4 class="tran3s">The Power of Collaboration in Growth PR
                                            </h4>
                                        </a>
                                        <a href="/new-insights/the-power-of-collaboration-in-growth-pr" class="read-btn mt-35"><img src="images/lazy.svg"
                                                data-src="images/icon/icon_12.svg" alt="" class="lazy-img"></a>
                                    </div> <!-- /.post-data -->
                                </article> <!-- /.blog-meta-one -->
                            </div>
                            <div class="col-lg-4 col-sm-6 d-flex wow fadeInUp" data-wow-delay="0.2s">
                                <article class="blog-meta-one tran3s mt-30">
                                    <figure class="post-img m0"><a href="/new-insights/how-pr-pros-can-navigate-tiktoks" class="w-100 d-block"><img
                                                src="images/lazy.svg" data-src="images/blog/blog_img_03.jpg" alt=""
                                                class="lazy-img w-100 tran4s"></a></figure>
                                    <div class="post-data mt-25">
                                        <a href="/new-insights/how-pr-pros-can-navigate-tiktoks" class="post-tag fw-500 tx-dark text-uppercase mb-20"
                                            style="background-color: #FFDFDF;">Public Relations</a>
                                        <a href="/new-insights/how-pr-pros-can-navigate-tiktoks" class="blog-title d-block">
                                            <h4 class="tran3s">How PR Pros Can Navigate TikTok’s                                            </h4>
                                        </a>
                                        <a href="/new-insights/how-pr-pros-can-navigate-tiktoks" class="read-btn mt-35"><img src="images/lazy.svg"
                                                data-src="images/icon/icon_12.svg" alt="" class="lazy-img"></a>
                                    </div> <!-- /.post-data -->
                                </article> <!-- /.blog-meta-one -->
                            </div>
                            <div class="col-lg-4 col-sm-6 d-flex wow fadeInUp" data-wow-delay="0.2s">
                                <article class="blog-meta-one tran3s mt-30">
                                    <figure class="post-img m0"><a href="/new-insights/get-ready-for-a-digital-revolution" class="w-100 d-block"><img
                                                src="images/lazy.svg" data-src="images/blog/blog_img_03.jpg" alt=""
                                                class="lazy-img w-100 tran4s"></a></figure>
                                    <div class="post-data mt-25">
                                        <a href="/new-insights/get-ready-for-a-digital-revolution" class="post-tag fw-500 tx-dark text-uppercase mb-20"
                                            style="background-color: #FFDFDF;">Technology </a>
                                        <a href="/new-insights/get-ready-for-a-digital-revolution" class="blog-title d-block">
                                            <h4 class="tran3s">Get Ready for a Digital Revolution
                                            </h4>
                                        </a>
                                        <a href="/new-insights/get-ready-for-a-digital-revolution" class="read-btn mt-35"><img src="images/lazy.svg"
                                                data-src="images/icon/icon_12.svg" alt="" class="lazy-img"></a>
                                    </div> <!-- /.post-data -->
                                </article> <!-- /.blog-meta-one -->
                            </div>
                            <div class="col-lg-4 col-sm-6 d-flex wow fadeInUp" data-wow-delay="0.2s">
                                <article class="blog-meta-one tran3s mt-30">
                                    <figure class="post-img m0"><a href="/new-insights/the-future-of-mobile" class="w-100 d-block"><img
                                                src="images/lazy.svg" data-src="images/blog/blog_img_03.jpg" alt=""
                                                class="lazy-img w-100 tran4s"></a></figure>
                                    <div class="post-data mt-25">
                                        <a href="/new-insights/the-future-of-mobile" class="post-tag fw-500 tx-dark text-uppercase mb-20"
                                            style="background-color: #FFDFDF;">Technology </a>
                                        <a href="/new-insights/the-future-of-mobile" class="blog-title d-block">
                                            <h4 class="tran3s">The Future of Mobile

                                            </h4>
                                        </a>
                                        <a href="/new-insights/the-future-of-mobile" class="read-btn mt-35"><img src="images/lazy.svg"
                                                data-src="images/icon/icon_12.svg" alt="" class="lazy-img"></a>
                                    </div> <!-- /.post-data -->
                                </article> <!-- /.blog-meta-one -->
                            </div>
                        </div>
                    </div> <!-- /.container -->
                </div> <!-- /.bg-wrapper -->
            </div> <!-- /.blog-section-one -->


	<%- include('./partials/newsletter') %>
	<%- include('./partials/footer') %>

            </div>